@import "tailwindcss";

:root {
  --font-orbitron: "Orbitron", sans-serif;
  --font-body: "General Sans", sans-serif;
}

.font-orbitron {
  font-family: var(--font-orbitron);
}

.font-body {
  font-family: var(--font-body);
}
